<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>بلاگ من | صفحه نخست</title>
    <link rel="stylesheet" href="/static/stylesheets/normalize.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <meta name="description" content="صفحه پروژه وبلاگ آماده شده برای ورکشاپ ACMUT WWW 2018">
</head>

<body>
    <header class="header">
        <h1 class="header__title">وبلاگ من</h1>
        <p class="header__info">وبلاگ نمونه برای ورکشاپ ACMUT WWW 2018</p>
    </header>

    <div class="content">
        <main class="posts">
            {% for post in posts %}
            <article class="post">
                <header class="post__header">
                    <h2 class="post__title">{{ post.title }}</h2>
                    <p class="post__meta">
                        ارسال شده توسط
                        <span class="post__author">{{ post.author }}</span>
                        در تاریخ
                        <time class="post__date" datetime="2018-02-21T12:47:59.116Z">{{ post.created_at }}</time>
                    </p>
                </header>

                <p>{{ post.content }}</p>
            </article>
            {% endfor %}
        </main>

        <nav class="sidebar">
            <h3>لینک‌های بلاگ</h3>
            <ul class="sitelinks">
                <li><a class="sitelinks__link" href="">صفحه نخست</a></li>
                <li><a class="sitelinks__link" href="">درباره من</a></li>
                <li><a class="sitelinks__link" href="">تماس با من</a></li>
            </ul>
        </nav>
    </div>

    <footer class="footer">
        <p> منتشر شده تحت لیسانس <a href="LICENSE.md" target="_blank">MIT</a>. سورس‌ کد روی <a href="https://github.com/ACMUT/WWW_D1" target="_blank">گیت‌هاب</a>.</p>
    </footer>
</body>
</html>